<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1  class="text-center"> Sobre el Comic.!! </h1>

    <p>
        Los cómics de superhéroes son uno de los géneros más comunes de los cómics estadounidenses. El género saltó a la fama en la década de 1930 y se hizo extremadamente popular en la década de 1940 y ha seguido siendo la forma dominante de cómic en América.El primer cómic de superhéroes de la historia fue Action Comics #1, publicado en junio de 1938 y, desde entonces hasta el año 2020, muchos han sido los títulos que han agrandado de forma casi ilimitada el género superheroico. Pero las obras maestras de este género vivieron de cómics y novelas gráficas de autores como Alan Moore, Frank Miller, entre otors. En el cómic americano de superhéroes se distinguen dos grandes compañías: MARVEL y DC COMICS. 
    </p>
   
    <img  src="../../assets/img/sobre.jpg" height="450px" width="450px" alt="">
    <img   src="../../assets/img/sobre2.jpg" height="450px" width="450px" alt="">

    <div class="card-columns">
        <div class="card text-center">
          <h5 class="card-header  bg-warning text-center">MARVEL COMICS</h5>
            <img src="../../assets/img/cm.jpg" class="card-img-top " alt="...">
        <div class="card-body">
        <p class="card-text text-center">Marvel Worldwide, Inc, es una editorial de historietas estadounidense creada en 1939, inicialmente con el nombre de Timely Publications. Entre sus personajes emblemáticos del género superheroico se encuentran Spider-Man, Wolverine, X-Men, Capitán América, Iron Man, Hulk, Thor, Los 4 Fantásticos, Daredevil, Punisher, Los vengadores, entre otros. A partir de los años 1990, la compañía se posicionó como una de las principales editoriales de cómics del país.</p>
    </div>
    </div>
  </div>
  <div class="card-columns">
    <div class="card text-center">
      <h5 class="card-header  bg-warning text-center">DC COMICS</h5>
        <img src="../../assets/img/cdc.jpg" class="card-img-top " alt="...">
    <div class="card-body">
    <p class="card-text text-center">DC Comics es una editorial de cómics estadounidense. Forma parte de DC Entertainment,1​ una de las empresas que conforman Warner Bros. Entertainment, la cual a su vez es propiedad de Warner Bros. Discovery. Fue fundada en 1934 bajo el nombre National Allied Publications, para luego tomar el nombre de DC Comics en 1937.

        Entre algunos de sus personajes más emblemáticos se encuentran Superman, Batman, Mujer Maravilla, Flash, Linterna Verde entre otros</p>
</div>
</div>
</div>
</body>
</html>-->
<div class="card  text-white">
  <img src="../../assets/img/sobComic.PNG" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title">Sobre Comic</h1>
    <p>
      Los cómics de superhéroes son uno de los géneros más comunes de los cómics estadounidenses. El género saltó a la fama en la década de 1930 y se hizo extremadamente popular en la década de 1940 y ha seguido siendo la forma dominante de cómic en América.El primer cómic de superhéroes de la historia fue Action Comics #1, publicado en junio de 1938 y, desde entonces hasta el año 2020, muchos han sido los títulos que han agrandado de forma casi ilimitada el género superheroico. Pero las obras maestras de este género vivieron de cómics y novelas gráficas de autores como Alan Moore, Frank Miller, entre otors. En el cómic americano de superhéroes se distinguen dos grandes compañías: MARVEL y DC COMICS. 
  </p>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <h5 class="card-header  bg-primary text-center">MARVEL COMICS</h5>
            <img src="../../assets/img/cm.jpg" id="img1" class="card-img-top " alt="...">
        <div class="card-body bg-danger">
        <p class="card-text text-center">Marvel Worldwide, Inc, es una editorial de historietas estadounidense creada en 1939, inicialmente con el nombre de Timely Publications. Entre sus personajes emblemáticos del género superheroico se encuentran Spider-Man, Wolverine, X-Men, Capitán América, Iron Man, Hulk, Thor, Los 4 Fantásticos, Daredevil, Punisher, Los vengadores, entre otros. A partir de los años 1990, la compañía se posicionó como una de las principales editoriales de cómics del país.</p>
    </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <h5 class="card-header  bg-light text-center">DC COMICS</h5>
            <img src="../../assets/img/cdc.jpg" id="img1" class="card-img-top " alt="...">
        <div class="card-body bg-info">
        <p class="card-text text-center">
          DC Comics es una editorial de cómics estadounidense. Forma parte de DC Entertainment, una de las empresas que conforman Warner Bros. Entertainment, la cual a su vez es propiedad de Warner Bros. Discovery. Fue fundada en 1934 bajo el nombre National Allied Publications, para luego tomar el nombre de DC Comics en 1937.

        Entre algunos de sus personajes más emblemáticos se encuentran Superman, Batman, Mujer Maravilla, Flash, Linterna Verde entre otros.</p>
    </div>
    </div>
  </div>
</div>
<br><br>