@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Shadows+Into+Light&display=swap');
nav a{
    color: rgb(204, 9, 9);
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    -webkit-text-stroke: 1px rgb(0, 0, 0);

}
nav a:hover{
    background: rgb(15, 236, 63);
    color: rgb(6, 136, 243);
    
}
.form-control{
    background:  #ffbb00;
      color: rgb(159, 4, 173);
      font-size: 20px;
      font-family: 'Bangers', cursive;
      font-family: 'Shadows Into Light', cursive;
      
    }