
<div class="jumbotron jumbotron-fluid">

    <div class="container">
      <p class="display-4">Personajes presente en Intro de DC y Marvel </p>
      <p class="lead">La presentación de DC Comics Marvel Comics dentro de las cintas de su Universo Extendido ha causado conmoción entre los fans. En la secuencia se pueden ver a grandes héroes y villanos que han sido parte de la basta historia de las compañías.</p>
      <div class="video">
        <iframe class="col-sm-6" height="300px" src="https://www.youtube.com/embed/NfmCET2FstI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-
        picture" allowfullscreen></iframe>
    </div>
    </div>
  </div>