<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/popular.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/poderes.PNG" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/pelea.PNG" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  
  <button type="button" class="btn btn-success  btn-lg" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Top5 mas Populares</button>
  <button type="button" class="btn btn-danger  btn-lg" data-toggle="modal" data-target="#exampleModal2" data-whatever="@fat">Datos de Hereoes</button>
  <button type="button" class="btn btn-warning  btn-lg" data-toggle="modal" data-target="#exampleModal3" data-whatever="@getbootstrap">Marvel vs DC</button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="he">Los Mas Populares </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="ex1">
          <!-- Example single danger button -->
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      #1 SPIDERMAN
    </button>
    <div class="dropdown-menu">
      <p class="dropdown-item" >Popular alrededor de  57 Paises</p>
    </div>
  </div>
  <br><br>
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      #2 WONDER WOMAN
    </button>
    <div class="dropdown-menu">
      <p class="dropdown-item" >Popular alrededor de  15 Paises</p>
    </div>
  </div>
  
  <br><br>
  <div class="btn-group">
    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      #3 BATMAN
    </button>
    <div class="dropdown-menu">
      <p class="dropdown-item" >Popular alrededor de  11 Paises</p>
    </div>
  </div>
  <br><br>
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      #4 IRON MAN 
    </button>
    <div class="dropdown-menu">
      <p class="dropdown-item" >Popular alrededor de  10 Paises</p>
    </div>
  </div>
  <br><br>
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      #5 SUPERMAN
    </button>
    <div class="dropdown-menu">
      <p class="dropdown-item" >Popular alrededor de  8 Paises</p>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>
  <!--Segundo Modal-->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <p class="he2">Datos de Heroes </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="ex2">
          <!-- Example single danger button -->
          <div class="accordion" id="accordionExample">
            <div class="card" *ngFor="let h of datosHeroes, let i=index">
              <div class="card-header" id="headingTwo" style="background: rgb(86, 4, 102);">
                <h2 class="mb-0">
                  <button id="nom" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" >
                    {{h.nombre}} <img src="{{h.img}}" class="mr-3" alt="..." width="70px">
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body"  style="background: rgb(173, 8, 77);">
                  <div class="media">
                    <img src="{{h.logo}}" class="mr-3" alt="...">
                    <div class="media-body">
                      <h2 class="mt-0">{{h.persona}}</h2>
                      <p id="lis">Armas: {{h.armas}}</p>
                      <p id="lis">Habilidades: {{h.habilidades}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  <!--Segundo Modal-->
  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <p class="he3">Marvel vs DC </p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="ex3">
          <!-- Example single danger button -->
          <ul class="list-group">
            <li class="list-group-item" >
              <div class="media">
              <img src="assets/img/h1-arrow.png" class="align-self-center mr-3" width="100px" alt="...">
              <div class="media-body">
                <h4 id="b1" class="text-center">ARROW VS THOR</h4>
                  <p id="carac" class="text-center">Inteligencia</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 54%" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">54%</div>
                  <div class="progress-bar  progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 46%" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100">46%</div>
                  
                </div>
                 <br>
                <p id="carac" class="text-center">Velocidad</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">28%</div>
                  <div class="progress-bar  progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">72%</div>
                  
                </div>
                <br>
                <p id="carac" class="text-center">Fuerza</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 11%" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100">11%</div>
                  <div class="progress-bar  progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">89%</div>
                  
                </div>
  
                <br>
                <p id="carac" class="text-center">Combate</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 51%" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100">51%</div>
                  <div class="progress-bar  progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 49%" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100">49%</div>
                  
                </div>
              </div>
              <img src="assets/img/h11-thor.png" class="align-self-center ml-3" width="100px" alt="...">
            </div>
          </li>
          <li class="list-group-item" >
            <div class="media">
            <img src="assets/img/h2-batman.png" class="align-self-center mr-3" width="100px" alt="...">
            <div class="media-body">
              <h4 id="b1" class="text-center">BATMAN VS WOLVERINE</h4>
                <p id="carac" class="text-center">Inteligencia</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100">82%</div>
                <div class="progress-bar  progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 18%" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">18%</div>
                
              </div>
               <br>
              <p id="carac" class="text-center">Velocidad</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 44%" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100">44%</div>
                <div class="progress-bar  progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100">56%</div>
                
              </div>
              <br>
              <p id="carac" class="text-center">Fuerza</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 51%" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100">51%</div>
                <div class="progress-bar  progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 49%" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100">49%</div>
                
              </div>
  
              <br>
              <p id="carac" class="text-center">Combate</p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
                <div class="progress-bar  progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">67%</div>
                
              </div>
            </div>
            <img src="assets/img/h9-wolverine.png" class="align-self-center ml-3" width="100px" alt="...">
          </div>
        </li>
            
        <li class="list-group-item" >
          <div class="media">
          <img src="assets/img/h7-spiderman.png" class="align-self-center mr-3" width="100px" alt="...">
          <div class="media-body">
            <h4 id="b1" class="text-center">SPIDERMAN VS ROBIN</h4>
              <p id="carac" class="text-center">Inteligencia</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
              <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
              
            </div>
             <br>
            <p id="carac" class="text-center">Velocidad</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
              <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              
            </div>
            <br>
            <p id="carac" class="text-center">Fuerza</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">87%</div>
              <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 13%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100">13%</div>
              
            </div>
  
            <br>
            <p id="carac" class="text-center">Combate</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
              <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
              
            </div>
          </div>
          <img src="assets/img/h6-robin.png" class="align-self-center ml-3" width="100px" alt="...">
        </div>
      </li>
      <li class="list-group-item" >
        <div class="media">
        <img src="assets/img/h10-ironman.png" class="align-self-center mr-3" width="100px" alt="...">
        <div class="media-body">
          <h4 id="b1" class="text-center">IRONMAN VS FLASH</h4>
            <p id="carac" class="text-center">Inteligencia</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">72%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated " role="progressbar" style="width: 28%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">28%</div>
            
          </div>
           <br>
          <p id="carac" class="text-center">Velocidad</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">2%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated " role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
            
          </div>
          <br>
          <p id="carac" class="text-center">Fuerza</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">68%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated " role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">32%</div>
            
          </div>
  
          <br>
          <p id="carac" class="text-center">Combate</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 49%" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100">49%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated " role="progressbar" style="width: 51%" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100">51%</div>
            
          </div>
        </div>
        <img src="assets/img/h5-flash.png" class="align-self-center ml-3" width="100px" alt="...">
      </div>
    </li>
    <li class="list-group-item" >
      <div class="media">
      <img src="assets/img/h4-maravilla.png" class="align-self-center mr-3" width="100px" alt="...">
      <div class="media-body">
        <h4 id="b1" class="text-center">WONDER WOMAN VS BLACK WINDOW</h4>
          <p id="carac" class="text-center">Inteligencia</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 31%" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100">31%</div>
          <div class="progress-bar  progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 69%" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100">69%</div>
          
        </div>
         <br>
        <p id="carac" class="text-center">Velocidad</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
          <div class="progress-bar  progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          
        </div>
        <br>
        <p id="carac" class="text-center">Fuerza</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 63%" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100">63%</div>
          <div class="progress-bar  progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 37%" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100">37%</div>
          
        </div>
  
        <br>
        <p id="carac" class="text-center">Combate</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 46%" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100">46%</div>
          <div class="progress-bar  progress-bar-striped progress-bar-animated bg-dark" role="progressbar" style="width: 54%" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">54%</div>
          
        </div>
      </div>
      <img src="assets/img/h13-blackwindow.png" class="align-self-center ml-3" width="100px" alt="...">
    </div>
  </li>
   <li class="list-group-item" >
        <div class="media">
        <img src="assets/img/h8-capitan.png" class="align-self-center mr-3" width="100px" alt="...">
        <div class="media-body">
          <h4 id="b1" class="text-center">CAPITAN AMERICA VS SUPERMAN</h4>
            <p id="carac" class="text-center">Inteligencia</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 32%" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">32%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">68%</div>
            
          </div>
           <br>
          <p id="carac" class="text-center">Velocidad</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 44%" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100">44%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100">56%</div>
            
          </div>
          <br>
          <p id="carac" class="text-center">Fuerza</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            
          </div>
  
          <br>
          <p id="carac" class="text-center">Combate</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 52%" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100">52%</div>
            <div class="progress-bar  progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 48%" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100">48%</div>
            
          </div>
        </div>
        <img src="assets/img/h3-superman.png" class="align-self-center ml-3" width="100px" alt="...">
      </div>
    </li>
          </ul>
  
        </div>
      </div>
    </div>
  </div>
